#menus{
    position: absolute;
    width: 100%;
    overflow-y: scroll;
}

.guidemenuitem{
    width: 160px;
    height: 140px;
    cursor: pointer;
    margin: 20px;
    float: left;
    user-select: none;
}

.guidemenu_img{
    width: 160px;
    height: 90px;
}

.textdiv{
    width: 160px;
    height: 50px;
}